* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 8px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*=== .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;}===*/

/*========= header======*/
.fixed-header {
    background-color: #E6F0FF;
    ;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    position: relative;
    background: #E6F0FF;
    height: calc(100vh - 90px);
}

.navbar {
    display: flex;
    align-items: center;
    /*padding-top: 38px; */
    padding: 12px 0;

}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .actions .btn {
    padding: 13px 16px;
    margin-left: 18px;
}

.hero {
    padding-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.018rem;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-family: Poppins;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.6rem;
    /* 118.75% */
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    /* 177.778% */
}

.btn .hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/*==== clients==== */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7d8589;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    /* 125% */
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 102px;

}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 40px;
    border-radius: 0.75rem;
    background: #FFF;

}

.clients .images a:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10)
}

.guides .sub-title {
    color: #000339;
    text-align: center;
    font-family: Poppins;
    font-size: 2.1875rem;

    font-weight: 600;
    line-height: 2.1875rem;
}

/*==== guides==== */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    /* 187.5% */
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .titile {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    /* 110% */
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/*==== featured==== */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    /* 100% */
}

.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    /* 187.5% */
}

.featured .link {
    display: inline-block;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.featured .item {
    flex: 1;
}

.featured .item .thumb {
    width: 100%;
    height: 277px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    /* 100% */
}

.featured .item .desc {
    --line-clamp: 3;
    margin-top: 11px;
    color: #a3a6ab;
    text-align: center;
    font-weight: 500;
}

.featured .body .info {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.featured .item .info .lable {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    /* 100% */
    letter-spacing: 0.014rem;
}

.featured .item .info .icon {
    margin-left: 23px;
}

.featured .item .info .icon:first-child {
    margin-left: 0;
}

/* stats */

.stats {
    margin-top: 75px;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
}

.stats .stats-trend .value {
    color: #000339;
    font-family: Poppins;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.01625rem;
}

.stats .stats-trend .icon {
    margin-left: auto;
}

.stats .stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    /* 150% */
}

.stats .stats-trend .separate {
    height: 1.2px;
    background: #e9e9e9;
    margin-top: 25px;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--bg-color, white);
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    font-weight: 450;
    letter-spacing: -0.02rem;
}

.stats .avatar:first-child {
    margin-left: 0
}

.stats .img-block image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 4.6rem;
    object-fit: cover;
    border-radius: 12px;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4.5rem;
    /* 128.571% */
}

.stats .sub-title::before {
    position: relative;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    border-radius: 0.75rem;
    background: #000339;
    width: 2.5625rem;
    height: 0.25rem;
}

.stats .info.desc {
    width: 309px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    /* 187.5% */
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;

}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-desc {
    margin-top: 22px;
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}

/*=====subscription */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;

}

.subscription .info {
    width: 670px;
    padding: 0 80px;
}

.subscription .sub-title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1, 5rem;
    /* 100% */

}

.subscription .desc {
    margin-top: 15px;
    color: #FFF;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5rem;
    /* 187.5% */
}

.subscription .btn {
    min-width: 151px;
    background-color: #fff;
    margin-top: 20px;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;

}

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;

}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1C1C1D;
    font-family: Lato, san-serif;
    font-size: 1.25rem;
    font-weight: 700;
    font-size: 2rem;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7A7A7E;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75rem;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;

    height: 28px;
    border-radius: 3px;
    background: #fdfdfd;

}

.footer .social-link+.social-link {
    margin-left: 16px;

}

.footer .social-link:hover {
    background-color: #ebebeb;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .copyright {
    color: #C2C2C2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
}